{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h2> Transaction history </h2>
    <div class="section">
        <table>
            <thead>
                <tr>
                    <th> Stock </th>
                    <th> Shares </th>
                    <th> Price of stock </th>
                    <th> Value of holding </th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
{% endblock %}