{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h2> Transaction history </h2>
    <div class="section">
        <table>
            <thead>
                <tr>
                    <th> Stock </th>
                    <th> Purchase / Sale Price </th>
                    <th> Shares Purchased / Sold </th>
                    <th> Date </th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                    {% if stock.shares > 0 %}
                        <tr>
                            <td>{{ stock.stock }}</td>
                            <td>Purchased at {{ prices[stock.stock]|usd }}</td>
                            <td>Purchased {{ stock.shares }} share(s)</td>
                            <td>{{ stock.Date }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ stock.stock }}</td>
                            <td>Sold at {{ prices[stock.stock]|usd }}</td>
                            <td>Sold {{ stock.shares|abs }} share(s)</td>
                            <td>{{ stock.Date }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}