{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1> Welcome {{ name }}!</h1>
    <h2> Your stocks </h2>
    <div class="section">
        <table>
            <thead>
                <tr>
                    <th> Stock </th>
                    <th> Shares </th>
                    <th> Price of stock </th>
                    <th> Value of holding </th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                    <tr>
                        <td>{{ stock.stock }}</td>
                        <td>{{ stock.shares }}</td>
                        <td>{{ prices[stock.stock] }}</td>
                        <td>{{ prices[stock.stock] * stock.shares}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}