{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1> Welcome {{ name }}!</h1>
    <h2> Your stocks </h2>
    <div class="section">
        <table>
            <thead>
                <tr>
                    <th> Stock </th>
                    <th> Shares </th>
                    <th> Price of stock </th>
                    <th> Value of holding </th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                    {% if stock.shares > 0 %}
                        <tr>
                            <td>{{ stock.stock }}</td>
                            <td>{{ stock.shares }}</td>
                            <td>{{ prices[stock.stock] }}</td>
                            <td>{{ (prices[stock.stock] * stock.shares)|round(2) }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <table>
            <thead>
                <tr>
                    <th> Cash </th>
                    <th> Total value of holding </th>
                    <th> Grand total </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ cash|round(2) }}</td>
                    <td>{{ holding|round(2) }}</td>
                    <td>{{ (cash + holding)|round(2) }}</td>
                </tr>
            </tbody>
        </table>
        <hr>
    </div>
{% endblock %}