{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block styles %}
<link href="/static/types.css" rel="stylesheet">
<link href="/static/displayData.css" rel="stylesheet">
{% endblock %}

{% block main %}
    <a id="id" class="hidden">{{ id }}</a>
    <div class="container">
        <div class="leftbox"></div>
        <div class="rightbox">
            <div class="buttons">
                <button value="1">Gen 1</button>
                <button value="2">Gen 2</button>
                <button value="3">Gen 3</button>
                <button value="4">Gen 4</button>
                <button value="5">Gen 5</button>
                <button value="6">Gen 6</button>
                <button value="7">Gen 7</button>
                <button value="8">Gen 8</button>
            </div>
            <div class="learnset"></div>
        </div>
    </div>
    <div id="Background"></div>
    <script>
        id = document.querySelector("#id").innerHTML;
        generations = {1: [1,2], 2: [3,4], 3: [5,6,7], 4: [8,9,10], 5: [11, 12, 13, 14], 6: [15, 16], 7: [17, 18, 19], 8: [20, 23]};
        async function getData(id) {
            await fetch('https://pokeapi.co/api/v2/pokemon/' + id)
            .then(resp => resp.json())
            .then(data => {
                levelUp = [];
                egg = [];
                other = [];
                console.log(data);
                moves = data.moves;
                name = data.name;
                moves.forEach((move) => {
                    moveName = move.move.name;
                    for (i of move.version_group_details) {
                        if (i.move_learn_method.name == "level-up") {
                            levelUp.push([moveName, i]);
                        } else if (i.move_learn_method.name == "egg") {
                            egg.push([moveName, i]);
                        } else {
                            other.push([moveName, i]);
                        }
                    }
                })
            })
            return [name, levelUp, egg, other]
        }
        async function renderData(gen=1) {
            data = await getData(id);
            box = document.querySelector(".learnset");
            box.innerHTML = ``;
            document.querySelector(".leftbox").innerHTML = name;
            for (move of data[1]) {
                versionGroup = move[1].version_group.url.split('version-group/')[1].split("/")[0]
                moveName = move[0].split("-").join(" ")
                version = move[1].version_group.name.split("-").join(" ")
                if (/*generations[gen].some((version) => version == versionGroup)*/ generations[gen][0] == versionGroup) {
                    box.innerHTML += `${moveName} learnt at ${move[1].level_learned_at} in gen ${gen}<br>`;
                }
            }
            console.log(data);
        }
        renderData();
        document.querySelectorAll("button").forEach((btn) => {
            btn.addEventListener('click', (e) => {
                renderData(e.target.value)
            })
        })
    </script>
{% endblock %}