{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block styles %}
<link href="/static/types.css" rel="stylesheet">
{% endblock %}

{% block main %}
    <a id="id" class="hidden">{{ id }}</a>
    <p id="box"></p>
    <div id="Background"></div>
    <script>
        id = document.querySelector("#id").innerHTML;
        async function getData(id) {
            await fetch('https://pokeapi.co/api/v2/pokemon/' + id)
            .then(resp => resp.json())
            .then(data => {
                levelUp = [];
                egg = [];
                other = [];
                box = document.querySelector("#box");
                console.log(data);
                moves = data.moves;
                box.innerHTML += `${data.name}<br>`;
                moves.forEach((move) => {
                    moveName = move.move.name;
                    for (i of move.version_group_details) {
                        if (i.move_learn_method.name == "level-up") {
                            levelUp.push([moveName, i]);
                        } else if (i.move_learn_method.name == "egg") {
                            egg.push([moveName, i]);
                        } else {
                            other.push([moveName, i]);
                        }
                    }
                    box.innerHTML += `${moveName}. Learnt at Level ${move.version_group_details[0].level_learned_at}.<br>`;
                })
            })
            return [levelUp, egg, other]
        }
        console.log(getData(id));
    </script>
{% endblock %}