{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block styles %}
<link href="/static/login.css" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/register" method="post">
                <h1>Create Account</h1>
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
                </div>
                <button class="btn btn-primary" type="submit">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/login" method="post">
                <h1>Sign In</h1>
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
                </div>
                <button class="btn btn-primary" type="submit">Sign In</button>
            </form>
        </div>
    </div>
{% endblock %}
