{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block styles %}
<link href="/static/styles.css" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="wrapper">
        <form action="/login" method="post">
            <span class="form-title">Sign In</span>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
    </div>

{% endblock %}
<!--
<div class="wrap-login100">
    <form class="login100-form validate-form p-l-55 p-r-55 p-t-178">
    <span class="login100-form-title">
    Sign In
    </span>
    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
    <input class="input100" type="text" name="username" placeholder="Username">
    <span class="focus-input100"></span>
    </div>
    <div class="wrap-input100 validate-input" data-validate="Please enter password">
    <input class="input100" type="password" name="pass" placeholder="Password">
    <span class="focus-input100"></span>
    </div>

    <div class="container-login100-form-btn">
    <button class="login100-form-btn">
    Sign in
    </button>
    </div>
    <div class="flex-col-c p-t-170 p-b-40">
    <span class="txt1 p-b-9">
    Don’t have an account?
    </span>
    <a href="#" class="txt3">
    Sign up now
    </a>
    </div>
    </form>
</div>
-->