{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block styles %}
<link href="/static/login.css" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="container-login register">
        <div class="wrap-login">
            <form action="/register" method="post" class="form-login">
                <span class="form-title">Register</span>
                <div class="mb-3 wrap-input">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto input" id="username" name="username" placeholder="Username" type="text">
                    <span class="focus-input"></span>
                </div>
                <div class="mb-3 wrap-input">
                    <input class="form-control mx-auto w-auto input" id="password" name="password" placeholder="Password" type="password">
                    <span class="focus-input"></span>
                </div>
                <div class="mb-3 wrap-input">
                    <input class="form-control mx-auto w-auto input" id="password" name="confirmation" placeholder="Repeat password" type="password">
                    <span class="focus-input"></span>
                </div>
                <div class="wrap-btn">
                    <button class="form-btn">
                    Sign Up
                    </button>
                </div>
                <div class="sign-up">
                    <span class="txt1">
                        Already have an account?
                    </span>
                    <a href="/login" class="txt3">
                        Sign in
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}