{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <h1> Search for pokemon</h1>
    <form action="/search" method="post">
        <input type="text" name="id" id="id" placeholder="Id">
        <input type="text" name="name" id="name" placeholder="Name">
        <input type="text" name="type1" id="type1" placeholder="Primary Type">
        <input type="text" name="type2" id="type2" placeholder="Secondary Type">
        <select name="gen" id="gen">
            <option selected disabled>Generation Number</option>
            <option value="">Any</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
        </select>
        <select name="isLegend" id="isLegend">
            <option selected disabled>Is Legendary</option>
            <option value="">Any</option>
            <option>True</option>
            <option>False</option>
        </select>
        <select name="order" id="order">
            <option selected disabled>Order</option>
            <option value="">Any</option>
            <option>Name</option>
            <option>Type 1</option>
            <option>Type 2</option>
            <option>Total</option>
            <option>HP</option>
            <option>Attack</option>
            <option>Defense</option>
            <option>Sp. Atk</option>
            <option>Sp. Def</option>
            <option>Speed</option>
            <option>Generation</option>
        </select>
        <select name="orderdir" id="orderdir">
            <option selected disabled>Ordering Direction</option>
            <option value="">ASC</option>
            <option>DESC</option>
        </select>
        <button type="submit">Submit</button>
	</form>
    {% if not data %}
    <table style="display:none">
    {% else %}
    <table>
    {% endif %}
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type 1</th>
                <th>Type 2</th>
                <th>Total</th>
                <th>HP</th>
                <th>Attack</th>
                <th>Defense</th>
                <th>Sp. Atk</th>
                <th>Sp. Def</th>
                <th>Speed</th>
                <th>Generation</th>
                <th>Legendary</th>
            </tr>
        </thead>
        {% for row in data %}
            <tr>
                <th>{{ row['id'] }}</th>
                <th>{{ row['Name'] }}</th>
                <th>{{ row['Type 1'] }}</th>
                <th>{{ row['Type 2'] }}</th>
                <th>{{ row['Total'] }}</th>
                <th>{{ row['HP'] }}</th>
                <th>{{ row['Attack'] }}</th>
                <th>{{ row['Defense'] }}</th>
                <th>{{ row['Sp. Atk'] }}</th>
                <th>{{ row['Sp. Def'] }}</th>
                <th>{{ row['Speed'] }}</th>
                <th>{{ row['Generation'] }}</th>
                {% if row['Legendary'] == True %}
                <th></th>
                <th>{{ row['Legendary'] }}</th>
            </tr>
        {% endfor %}
    </table>
    <div id="Background"></div>
{% endblock %}