.leftbox
{
    width: 20%;
    display: inline-block;
}
.rightbox
{
    width: 60%;
    display: inline-block;
}
.container
{
    display: flex;
}
button
{
    margin-bottom: 0.5em;
    display: inline;
    padding: 0 20px;
    height: 50px;
    background-color: #57b846;
    border-radius: 25px;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    font-weight: bold;
    transition: all 0.4s;
    border: none;
}
.buttons
{
    margin-bottom: 1em;
}
.selected
{
    background-color: blue;
}
.title
{
    font-size: 30px;
    color: #FFFFFF;
    line-height: 1.2;
    text-align: center;
    display: block;
    top: 0;
    left: 0;
    background-color: #57b846;
    font-weight: bold;
    border-radius: 10px;
    padding-block: 10px;
    text-transform: capitalize;
}
.flex
{
    display: flex;
    width: 100%;
}
.Typing
{
    width: 100%;
}