.container-login
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    background-color: #FFFFFF;
    margin-top: -5em;
}
.wrap-login
{
    width: 500px;
    background: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}
.form-login
{
    width: 100%;
    position: relative;
    padding-inline: 55px;
    padding-top: 178px;
}
.form-title
{
    font-size: 30px;
    color: #FFFFFF;
    line-height: 1.2;
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #57b846;
    padding-top: 50px;
    padding-bottom: 39px;
    font-weight: bold;
}
.wrap-input
{
    width: 100%;
    border-radius: 27px;
    z-index: 1;
}
.input
{
    font-size: 15px;
    line-height: 1.2;
    position: relative;
    display: block;
    width: 100%;
    height: 55px;
    background: #ebebeb;
    border-radius: 27px;
    padding: 0 35px 0 35px;
    text-align: left;
    font-weight: bold;
}
.focus-input
{
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 31px;
    background-color: #ebebeb;
    pointer-events: none;
    transition: all 0.4s;
}
.wrap-btn
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form-btn
{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 60%;
    height: 50px;
    background-color: #57b846;
    border-radius: 25px;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.4s;
    border: none;
}
.sign-up
{
    display: flex;
    flex-direction: column:
    align-items: center;
    padding-bottom: 40px;
    padding-top: 170px;
}
.txt1
{
    font-size: 15px;
    color: #999999;
    font-weight: bold;
    line-height: 1.4;
    padding-bottom: 9px;
}
.txt3
{
    font-size: 15px;
    color: #57b846;
    line-height: 1.4;
    font-weight: bold;
    text-decoration: none;
}
.txt3:hover
{
    color: #57b846;
}