* {
    text-align: center;
}
.navbar
{
    z-index: 2;
}
#Background
{
    height: 50vh;
}
#Background::before
{
    content: "";
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("pokemon.png");
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 0.15;
    z-index: -1;
}
.link
{
    text-decoration: none;
    color: white;
    background: #57b846;
    padding-inline: 0.5em;
    border-radius: 20px;
    border: 1px solid #57b846;
    margin: 0;
    padding: 0;
    width: 
}
