* {
    text-align: center;
}
.navbar
{
    z-index: 2;
}
#Background
{
    height: 50vh;
}
#Background::before
{
    content: "";
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("pokemon.png");
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 0.15;
    z-index: -1;
}
.link
{
    text-decoration: none;
    color: white;
    background: #57b846;
    padding-inline: 0.5em;
    border-radius: 20px;
    border: 1px solid #57b846;
    margin: 0;
    width: initial;
    height: initial;
    text-transform: initial;
    display: initial;
}
.form-link
{
    width: initial;
    position: initial;
    padding: 0;
}
.hidden
{
    display: none;
}
.above
{
    display: flex;
    position: relative;
    z-index: 3;
    padding: 1em;
    background: #57B846;
    color: black;
    font-weight: bold;
    width: fit-content;
    border-radius: 20px;
    margin-inline: auto;
    font-size: 30px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}