table {
    border-collapse: separate;
}
.Name {
    color: darkblue;
    font-weight: bold;
    text-align: left;
}
.Typing {
    color: white;
    padding-inline: 0.25em;
}
.Mega {
    color: darkmagenta;
    font-weight: bold;
}
.Mega img {
    height: 1em;
}
.Normal {
    background: #A8A878;
    border-radius: 20px;
    border: 1px solid #6D6D4E;
}
.Fire {
    background: #F08030;
    border-radius: 20px;
    border: 1px solid #9C531F;
}
.Fighting {
    background: #C03028;
    border-radius: 20px;
    border: 1px solid #7D1F1A;
}
.Water {
    background: #6890F0;
    border-radius: 20px;
    border: 1px solid #445E9C;
}
.Flying {
    background: #A890F0;
    border-radius: 20px;
    border: 1px solid #6D5E9C;
}
.Grass {
    background: #78C850;
    border-radius: 20px;
    border: 1px solid #4E8234;
}
.Poison {
    background: #A040A0;
    border-radius: 20px;
    border: 1px solid #682A68;
}
.Electric {
    background: #F8D030;
    border-radius: 20px;
    border: 1px solid #A1871F;
}
.Ground {
    background: #E0C068;
    border-radius: 20px;
    border: 1px solid #927D44;
}
.Psychic {
    background: #F85888;
    border-radius: 20px;
    border: 1px solid #A13959;
}
.Rock {
    background: #B8A038;
    border-radius: 20px;
    border: 1px solid #786824;
}
.Ice {
    background: #98D8D8;
    border-radius: 20px;
    border: 1px solid #638D8D;
}
.Bug {
    background: #A8B820;
    border-radius: 20px;
    border: 1px solid #6D7815;
}
.Dragon {
    background: #7038F8;
    border-radius: 20px;
    border: 1px solid #4924A1;
}
.Ghost {
    background: #705898;
    border-radius: 20px;
    border: 1px solid #493963;
}
.Dark {
    background: #705848;
    border-radius: 20px;
    border: 1px solid #49392F;
}
.Steel {
    background: #B8B8D0;
    border-radius: 20px;
    border: 1px solid #787887;
}
.Fairy {
    background: #EE99AC;
    border-radius: 20px;
    border: 1px solid #9B6470;
}