h1
{
    text-align: center;
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 21%, rgba(0,212,255,1) 84%);
    padding-block: 1em;
}
strong
{
    font-size: 105%;
}
strong:hover
{
    color: #073495;
}
.center-container {
    visibility: hidden;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
p
{
    background-color: lightgray;
    border: solid black 1px;
    border-radius: 10px;
    padding: 1em;
}